/* Fonts */
@font-face {
    font-family: 'DaysOne-Regular'; /*a name to be used later*/
    src: url('../fonts/DaysOne-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Armata-Regular'; /*a name to be used later*/
    src: url('../fonts/Armata-Regular.ttf'); /*URL to font*/
}

/* Defined Css Variables */
:root{
	/* Default Font Sets */
	--primary-fnt: DaysOne-Regular;
	--secondary-fnt: Armata-Regular;

	/* Default Color Sets */
	--primary-clr: #007bff;              /* Bright-blue */
	--primary-clr-alt: #006fe6;          /* Dark-blue */

	--secondary-clr: #b5bdc5;            /* Bright-grey */
	--secondary-clr-alt: #aab1b8;        /* Dark-grey */

  --success-clr: #669900;              /* Bright-green */
  --success-clr-alt: #5e8c02;          /* Dark-green */

  --info-clr: #f1f6fa;                  /* Bright-turquoise */
  --info-clr-alt: #e3e7eb;              /* Dark-turquoise */

  --warning-clr: #ffb400;               /* Bright-orange */
  --warning-clr-alt: #e6a200;           /* Dark-orange */

  --danger-clr: #c4183c;                /* Bright-red */
  --danger-clr-alt: #ad1535;            /* Dark-red */

	--light-clr: #fafafa;                 /* Bright-white */
	--light-clr-alt: #edecec;             /* Dark-white */

  --dark-clr: #333333;                  /* Bright-grayish */
  --dark-clr-alt: #242424;              /* Dark-grayish */

  --fb-clr: #4267b2;                    /* Dark-blue */
  --twitter-clr: #1b95e0;               /* Light-blue */

	/* Default Size Sets */
	--env-unit: 8px;
  --em-unit: 1em;                       /* Usually 16px */
  --rem-unit: 1rem;                     /* Usually 14px */

	/* Additional Sets */
  --cent-unit: 100;
  --px-unit: 100px;

}

body, html{
  font-family: var(--primary-fnt);
  margin: calc(var(--env-unit)*0) !important;
  color: var(--dark-clr);
  background-color: var(--light-clr) !important;
}

/* Typography */
h1{
  font-family: var(--primary-fnt);
  font-size: calc(var(--rem-unit)*3);
  line-height: calc(var(--rem-unit)*3.00);
  margin: calc(var(--env-unit)*0) !important;
	font-weight: calc(var(--cent-unit)*7);
	color: var(--dark-clr);
}
h2{
  font-family: var(--primary-fnt);
  font-size: calc(var(--rem-unit)*2.75);
  line-height: calc(var(--rem-unit)*2.70);
  margin: calc(var(--env-unit)*0) !important;
	font-weight: calc(var(--cent-unit)*6);
	color: var(--dark-clr);
}
h3{
  font-family: var(--primary-fnt);
  font-size: calc(var(--rem-unit)*2.5);
  line-height: calc(var(--rem-unit)*2.40);
  margin: calc(var(--env-unit)*0) !important;
	font-weight: calc(var(--cent-unit)*5);
	color: var(--dark-clr);
}
h4{
  font-family: var(--primary-fnt);
  font-size: calc(var(--rem-unit)*2.25);
  line-height: calc(var(--rem-unit)*2.10);
  margin: calc(var(--env-unit)*0) !important;
	font-weight: calc(var(--cent-unit)*4);
	color: var(--dark-clr);
}
h5{
  font-family: var(--primary-fnt);
  font-size: calc(var(--rem-unit)*2);
  line-height: calc(var(--rem-unit)*1.80);
  margin: calc(var(--env-unit)*0) !important;
	font-weight: calc(var(--cent-unit)*3);
	color: var(--dark-clr);
}
h6{
  font-family: var(--primary-fnt);
  font-size: calc(var(--rem-unit)*1.50);
  line-height: calc(var(--rem-unit)*1.50);
  margin: calc(var(--env-unit)*0) !important;
	font-weight: calc(var(--cent-unit)*2);
	color: var(--dark-clr);
}

p,th,td{
  font-family: var(--secondary-fnt);
  font-size: calc(var(--rem-unit)*1.00);
  line-height: calc(var(--rem-unit)*1.50);
  margin: calc(var(--env-unit)*0) !important;
  font-weight: calc(var(--cent-unit)*1);
  color: var(--dark-clr);
}

/* Color collection */
._primary{
  background-color: var(--primary-clr) !important;
}
._primary-alt{
  background-color: var(--primary-clr-alt) !important;
}
._primary-text{
  color: var(--primary-clr) !important;
}
._primary-text-alt{
  color: var(--primary-clr-alt) !important;
}
._secondary{
  background-color: var(--secondary-clr) !important;
}
._secondary-alt{
  background-color: var(--secondary-clr-alt) !important;
}
._secondary-text{
  color: var(--secondary-clr) !important;
}
._secondary-text-alt{
  color: var(--secondary-clr-alt) !important;
}
._success{
  background-color: var(--success-clr) !important;
}
._success-alt{
  background-color: var(--success-clr-alt) !important;
}
._success-text{
  color: var(--success-clr) !important;
}
._success-text-alt{
  color: var(--success-clr-alt) !important;
}
._info{
  background-color: var(--info-clr) !important;
}
._info-alt{
  background-color: var(--info-clr-alt) !important;
}
._info-text{
  color: var(--info-clr) !important;
}
._info-text-alt{
  color: var(--info-clr-alt) !important;
}
._warning{
  background-color: var(--warning-clr) !important;
}
._warning-alt{
  background-color: var(--warning-clr-alt) !important;
}
._warning-text{
  color: var(--warning-clr) !important;
}
._warning-text-alt{
  color: var(--warning-clr-alt) !important;
}
._danger{
  background-color: var(--danger-clr) !important;
}
._danger-alt{
  background-color: var(--danger-clr-alt) !important;
}
._danger-text{
  color: var(--danger-clr) !important;
}
._danger-text-alt{
  color: var(--danger-clr-alt) !important;
}
._light{
  background-color: var(--light-clr) !important;
}
._light-alt{
  background-color: var(--light-clr-alt) !important;
}
._light-text{
  color: var(--light-clr) !important;
}
._light-text-alt{
  color: var(--light-clr-alt) !important;
}
._dark{
  background-color: var(--dark-clr) !important;
}
._dark-alt{
  background-color: var(--dark-clr-alt) !important;
}
._dark-text{
  color: var(--dark-clr) !important;
}
._dark-text-alt{
  color: var(--dark-clr-alt) !important;
}
._fb{
  background-color: var(--fb-clr) !important;
}
._twitter{
  background-color: var(--twitter-clr) !important;
}

/* Margin Spacing */
._m0{
  margin: calc(var(--env-unit)*0) !important;
}
._m1{
  margin: calc(var(--env-unit)*1) !important;
}
._m2{
  margin: calc(var(--env-unit)*2) !important;
}
._m3{
  margin: calc(var(--env-unit)*3) !important;
}
._m4{
  margin: calc(var(--env-unit)*4) !important;
}
._m5{
  margin: calc(var(--env-unit)*5) !important;
}
._mt0{
  margin-top: calc(var(--env-unit)*0) !important;
}
._mt1{
  margin-top: calc(var(--env-unit)*1) !important;
}
._mt2{
  margin-top: calc(var(--env-unit)*2) !important;
}
._mt3{
  margin-top: calc(var(--env-unit)*3) !important;
}
._mt4{
  margin-top: calc(var(--env-unit)*4) !important;
}
._mt5{
  margin-top: calc(var(--env-unit)*5) !important;
}
._mr0{
  margin-right: calc(var(--env-unit)*0) !important;
}
._mr1{
  margin-right: calc(var(--env-unit)*1) !important;
}
._mr2{
  margin-right: calc(var(--env-unit)*2) !important;
}
._mr3{
  margin-right: calc(var(--env-unit)*3) !important;
}
._mr4{
  margin-right: calc(var(--env-unit)*4) !important;
}
._mr5{
  margin-right: calc(var(--env-unit)*5) !important;
}
._mb0{
  margin-bottom: calc(var(--env-unit)*0) !important;
}
._mb1{
  margin-bottom: calc(var(--env-unit)*1) !important;
}
._mb2{
  margin-bottom: calc(var(--env-unit)*2) !important;
}
._mb3{
  margin-bottom: calc(var(--env-unit)*3) !important;
}
._mb4{
  margin-bottom: calc(var(--env-unit)*4) !important;
}
._mb5{
  margin-bottom: calc(var(--env-unit)*5) !important;
}
._ml0{
  margin-left: calc(var(--env-unit)*0) !important;
}
._ml1{
  margin-left: calc(var(--env-unit)*1) !important;
}
._ml2{
  margin-left: calc(var(--env-unit)*2) !important;
}
._ml3{
  margin-left: calc(var(--env-unit)*3) !important;
}
._ml4{
  margin-left: calc(var(--env-unit)*4) !important;
}
._ml5{
  margin-left: calc(var(--env-unit)*5) !important;
}
._mx0{
  margin-left: calc(var(--env-unit)*0) !important;
  margin-right: calc(var(--env-unit)*0) !important;
}
._mx1{
  margin-left: calc(var(--env-unit)*1) !important;
  margin-right: calc(var(--env-unit)*1) !important;
}
._mx2{
  margin-left: calc(var(--env-unit)*2) !important;
  margin-right: calc(var(--env-unit)*2) !important;
}
._mx3{
  margin-left: calc(var(--env-unit)*3) !important;
  margin-right: calc(var(--env-unit)*3) !important;
}
._mx4{
  margin-left: calc(var(--env-unit)*4) !important;
  margin-right: calc(var(--env-unit)*4) !important;
}
._mx5{
  margin-left: calc(var(--env-unit)*5) !important;
  margin-right: calc(var(--env-unit)*5) !important;
}
._my0{
  margin-top: calc(var(--env-unit)*0) !important;
  margin-bottom: calc(var(--env-unit)*0) !important;
}
._my1{
  margin-top: calc(var(--env-unit)*1) !important;
  margin-bottom: calc(var(--env-unit)*1) !important;
}
._my2{
  margin-top: calc(var(--env-unit)*2) !important;
  margin-bottom: calc(var(--env-unit)*2) !important;
}
._my3{
  margin-top: calc(var(--env-unit)*3) !important;
  margin-bottom: calc(var(--env-unit)*3) !important;
}
._my4{
  margin-top: calc(var(--env-unit)*4) !important;
  margin-bottom: calc(var(--env-unit)*4) !important;
}
._my5{
  margin-top: calc(var(--env-unit)*5) !important;
  margin-bottom: calc(var(--env-unit)*5) !important;
}

/* Padding Spacing */
._p0{
  padding: calc(var(--env-unit)*0) !important;
}
._p1{
  padding: calc(var(--env-unit)*1) !important;
}
._p2{
  padding: calc(var(--env-unit)*2) !important;
}
._p3{
  padding: calc(var(--env-unit)*3) !important;
}
._p4{
  padding: calc(var(--env-unit)*4) !important;
}
._p5{
  padding: calc(var(--env-unit)*5) !important;
}
._pt0{
  padding-top: calc(var(--env-unit)*0) !important;
}
._pt1{
  padding-top: calc(var(--env-unit)*1) !important;
}
._pt2{
  padding-top: calc(var(--env-unit)*2) !important;
}
._pt3{
  padding-top: calc(var(--env-unit)*3) !important;
}
._pt4{
  padding-top: calc(var(--env-unit)*4) !important;
}
._pt5{
  padding-top: calc(var(--env-unit)*5) !important;
}
._pr0{
  padding-right: calc(var(--env-unit)*0) !important;
}
._pr1{
  padding-right: calc(var(--env-unit)*1) !important;
}
._pr2{
  padding-right: calc(var(--env-unit)*2) !important;
}
._pr3{
  padding-right: calc(var(--env-unit)*3) !important;
}
._pr4{
  padding-right: calc(var(--env-unit)*4) !important;
}
._pr5{
  padding-right: calc(var(--env-unit)*5) !important;
}
._pb0{
  padding-bottom: calc(var(--env-unit)*0) !important;
}
._pb1{
  padding-bottom: calc(var(--env-unit)*1) !important;
}
._pb2{
  padding-bottom: calc(var(--env-unit)*2) !important;
}
._pb3{
  padding-bottom: calc(var(--env-unit)*3) !important;
}
._pb4{
  padding-bottom: calc(var(--env-unit)*4) !important;
}
._pb5{
  padding-bottom: calc(var(--env-unit)*5) !important;
}
._pl0{
  padding-left: calc(var(--env-unit)*0) !important;
}
._pl1{
  padding-left: calc(var(--env-unit)*1) !important;
}
._pl2{
  padding-left: calc(var(--env-unit)*2) !important;
}
._pl3{
  padding-left: calc(var(--env-unit)*3) !important;
}
._pl4{
  padding-left: calc(var(--env-unit)*4) !important;
}
._pl5{
  padding-left: calc(var(--env-unit)*5) !important;
}
._px0{
  padding-left: calc(var(--env-unit)*0) !important;
  padding-right: calc(var(--env-unit)*0) !important;
}
._px1{
  padding-left: calc(var(--env-unit)*1) !important;
  padding-right: calc(var(--env-unit)*1) !important;
}
._px2{
  padding-left: calc(var(--env-unit)*2) !important;
  padding-right: calc(var(--env-unit)*2) !important;
}
._px3{
  padding-left: calc(var(--env-unit)*3) !important;
  padding-right: calc(var(--env-unit)*3) !important;
}
._px4{
  padding-left: calc(var(--env-unit)*4) !important;
  padding-right: calc(var(--env-unit)*4) !important;
}
._px5{
  padding-left: calc(var(--env-unit)*5) !important;
  padding-right: calc(var(--env-unit)*5) !important;
}
._py0{
  padding-top: calc(var(--env-unit)*0) !important;
  padding-bottom: calc(var(--env-unit)*0) !important;
}
._py1{
  padding-top: calc(var(--env-unit)*1) !important;
  padding-bottom: calc(var(--env-unit)*1) !important;
}
._py2{
  padding-top: calc(var(--env-unit)*2) !important;
  padding-bottom: calc(var(--env-unit)*2) !important;
}
._py3{
  padding-top: calc(var(--env-unit)*3) !important;
  padding-bottom: calc(var(--env-unit)*3) !important;
}
._py4{
  padding-top: calc(var(--env-unit)*4) !important;
  padding-bottom: calc(var(--env-unit)*4) !important;
}
._py5{
  padding-top: calc(var(--env-unit)*5) !important;
  padding-bottom: calc(var(--env-unit)*5) !important;
}

/* Height Spacing */
._h0{
  height: calc(var(--px-unit)*0);
}
._h1{
  height: calc(var(--px-unit)*1);
}
._h2{
  height: calc(var(--px-unit)*2);
}
._h3{
  height: calc(var(--px-unit)*3);
}
._h4{
  height: calc(var(--px-unit)*4);
}
._h5{
  height: calc(var(--px-unit)*5);
}

/* Width Spacing */
._w0{
  width: calc(var(--px-unit)*0);
}
._w1{
  width: calc(var(--px-unit)*1);
}
._w2{
  width: calc(var(--px-unit)*2);
}
._w3{
  width: calc(var(--px-unit)*3);
}
._w4{
  width: calc(var(--px-unit)*4);
}
._w5{
  width: calc(var(--px-unit)*5);
}

/* Width + Height Spacing */
._wh0{
  width: calc(var(--px-unit)*0);
  height: calc(var(--px-unit)*0);
}
._wh1{
  width: calc(var(--px-unit)*1);
  height: calc(var(--px-unit)*1);
}
._wh2{
  width: calc(var(--px-unit)*2);
  height: calc(var(--px-unit)*2);
}
._wh3{
  width: calc(var(--px-unit)*3);
  height: calc(var(--px-unit)*3);
}
._wh4{
  width: calc(var(--px-unit)*4);
  height: calc(var(--px-unit)*4);
}
._wh5{
  width: calc(var(--px-unit)*5);
  height: calc(var(--px-unit)*5);
}

/* Media Queries */
@media only screen and (max-width: 1279px) {

    body{
      background-color: var(--light-clr-alt) !important;
    }
    div.desktop{
      display: none !important;
    }
}
@media only screen and (min-width: 1280px) {

    div.tablet{
      display: none !important;
    }
}

._swatch{
  width: calc(var(--env-unit)*10);
  height: calc(var(--env-unit)*10);
  padding: 0;
  margin: calc(var(--env-unit)*3) 0 calc(var(--env-unit)*1);
}
